<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="radio" value="first"
        v-model="picked">
        <label for="first">111</label>
        <br>
        <input type="radio" value="second" v-model="picked">
        <label for="second">222</label>
        <br>
        <span>{{picked}}</span>
    </div>
    <script src="./vv/vue.js"></script>
    <script>
        new Vue({
            el:"#app",
            data:{
                picked:''
            }
        })
    </script>
</body>
</html>